.list {
  padding: 0 24px;
  li {
    &:last-child {
      border-bottom: 1px solid #282828;
      padding-bottom: 8px;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  color: var(--text-subdued);
  font-family: "Gotham-bold";
  min-height: 40px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  &:hover {
    color: var(--text-base);

    .icon-wrapper {
      background-color: var(--essential-base);
    }

    .icon-wrapper-collection {
      opacity: 1;
    }
  }
  &.active {
    color: var(--text-base);
  }
}

.icon-wrapper,
.icon-wrapper-collection {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2b2b2;
  border-radius: 4px;
  transition: 0.2s ease-out;
}

.icon-wrapper-collection {
  background: linear-gradient(135deg, #450af5, #c4efd9);
  opacity: 0.7;
}

.icon {
  font-size: 24px;
  color: var(--text-base);
}

.icon-song {
  flex: 1;
  text-align: end;
  color: #1ed760;
}

.text {
  font-family: "Gotham-bold";
  font-size: 14px;
  margin-left: 16px;
}
