.head-tittle {
  font-size: 3.2rem;
  margin-bottom: 16px;
  font-family: "Gotham-bold";
  z-index: 10;
  position: relative;
}

.overlay {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6) 0,
    var(--background-base) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
