.wrapper {
  min-height: 64px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.inner {
  padding: 16px 32px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: var(--background-base);
  transition: background-color 0.2s ease-out;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      from rgba(0, 0, 0, 0.6) 0,
      to var(--background-base) 100%
    ),
    var(--background-noise);
}

.arrown-actions {
  display: flex;
  align-items: center;
  z-index: 10;
  gap: 16px;
}

.prevButton,
.nextButton {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--background-press);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-subdued);
}

.button-upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-base);
  font-size: 14px;
  font-family: "Gotham-bold";
  padding: 6px 15px;
  border: 1px solid var(--essential-subdued);
  border-radius: 500px;
  opacity: 0.7;
  transition: all 0.2s ease-out;
  z-index: 10;
  &:hover {
    opacity: 1;
    border: 1px solid var(--essential-base);
  }
}

.user-widget,
.user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.user-widget {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 23px;
  padding: 2px;
  gap: 8px;
  cursor: pointer;
}

.user-actions {
  gap: 28px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-size: 14px;
}

.icon-arrownDown {
  margin-right: 6px;
}

.widget-list {
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
  background-color: #282828;
  min-width: 210px;
}
